<div class="row " ng-controller="backStageCtrl">
    <div class="col-xs-12 col-md-4 ">
        <div class="side-nav-title">萝卜萝卜后台管理系统</div>
    </div>
    <div class="col-xs-12 col-md-8">
        <div class=" title-right">
            <span class="sign-out glyphicon glyphicon-off" ng-click="exit()"></span>
            <span class="line"></span>
            <span class="user-name">admin</span>
            <span class="line"></span>
        </div>
    </div>
    <div class="col-md-4 col-xs-12"  >
        <div class="side-nav">
            <div ng-repeat="x in sideBar">
                <div  class="side-nav-menu" ng-click="titleIndex($index)" >
                    <span class="glyphicon glyphicon-list"></span>
                    <span>{{x.sideBarTitle}}</span>
                    <span ng-class="{true:'glyphicon glyphicon-arrow-down',false : 'glyphicon glyphicon-arrow-left'}[sideBarTitleIndex == $index]"></span>
                </div>
                <div ng-repeat="y in x.sideBarContent"
                     ng-show="sideBarTitleIndex == $parent.$index"
                     ng-click="content(y.sideBarName,$parent.$index)">
                    <a  href="" ui-sref = "{{y.url}}"
                        ng-class="{true:'active',false:''}[y.sideBarName == sideBarContentt]"
                        class="nav-list">
                        <span>{{y.sideBarName}}</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-8 col-xs-12" >
        <div ui-view class="view">
            <h1>
                welcome
            </h1>
        </div>
    </div>
</div>
