<div ng-controller="newArticleCtrl" class="row new-article">
    <div class="col-xs-12 new-article-title">新增Article</div>
    <div class="col-xs-12 new-article-content">
        <div class="col-sm-2 col-xs-12">标题名称</div>
        <div class="col-sm-10 col-xs-12">
            <input class="form-control" type="text" required ng-model = "newTitle">
        </div>
        <div class="col-sm-2 col-xs-12">类型</div>
        <div class="col-sm-10 col-xs-12">
            <div class="col-xs-6">
                <select class="form-control" required ng-model = "newType" >
                    <option value="0">首页Banner</option>
                    <option value="1">找职位Banner</option>
                    <option value="2">找精英Banner</option>
                    <option value="3">行业大图</option>
                </select>
            </div>
            <div class="col-xs-6">
                <select class="form-control" ng-show = "newType == 3" ng-model = "newJob" required>
                    <option value="0">移动互联网</option>
                    <option value="1" >电子商务</option>
                    <option value="2">企业服务</option>
                    <option value="3">O2O</option>
                    <option value="4">教育</option>
                    <option value="5">金融</option>
                    <option value="6">游戏</option>
                </select>
            </div>


        </div>
        <div class="col-sm-2 col-xs-12">说明</div>
        <div class="col-sm-10 col-xs-12">
            <div class="ueditor edui-default" ng-model="content"></div>
        </div>
        <div class="col-sm-2 col-xs-12">转跳链接</div>
        <div class="col-sm-10 col-xs-12">
            <input class="form-control" type="url" required ng-model="newUrl">
        </div>
        <div class="col-sm-2 col-xs-12">配图</div>
        <div class="col-sm-10 col-xs-12">
            <div>
                <label for="upLoadImg" class="img-input">
                    <span ng-hide ="success === 'success'">点击添加图片</span>
                    <img ng-src = "{{imgSrc}}" ng-show ="success === 'success'">
                </label>
                <input style="display:none;" id = "upLoadImg" type="file" accept="image/*" onchange="angular.element(this).scope().imgUpload(this.files)" ng-disabled="success === 'success'">
            </div>
            <div>
                <table class="table table-striped  table-responsive table-condensed ">
                    <tr>
                        <td><strong>图片名</strong></td>
                        <td><strong>大小</strong></td>
                        <td><strong>进度</strong></td>
                        <td><strong>状态</strong></td>
                        <td><strong>操作</strong></td>
                    </tr>
                    <tr ng-show="onload">
                        <td>{{imgName}}</td>
                        <td >{{imgSize}}</td>
                        <td>
                            <div ng-show ="success === 'success'">
                                <progress value="{{progress}}" max="100">
                                </progress>
                            </div>
                        </td>
                        <td><span ng-show ="success === 'success'" class="glyphicon glyphicon-ok-sign"></span></td>
                        <td>
                            <button class="btn btn-default" ng-click = "upLoad()">上传</button>
                            <button class="btn btn-info " ng-click = "delete()">删除</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-sm-2 col-xs-12"> </div>
        <div class="col-sm-10 col-xs-12">
            <div class="row">
                <div class="col-xs-10">
                    <button class="btn" ng-click="onLine()">立即上线</button>
                    <button class="btn" ng-click="draft()">存为草稿</button>

                </div>
                <div class="col-xs-2 ">
                    <a class="btn btn-danger" href="#/backstage/articleList" ui-sref="backstage.articleList">取消</a>
                </div>
            </div>
        </div>

    </div>
</div>
