*{
  margin: 0;
  padding: 0;
}
main{
  div{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    div{
      width: 30vw;
      height: 30vw;
      border-radius: 10px;
      background-color: aqua;
    }
  }
}