@import "../base/header";
@import "../base/nav";
@import "../base/section";
@import "../base/footer";
@import "../components/reset";
@import "../components/musicPlayer";
body{
  background-color: #29bde0;
}
header{
  @include header;
  position: fixed;top: 0;left: 0;right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.back{
  display: inline-block;
  background: url("../../img/select.png") no-repeat;
  background-size: .3rem .3rem;
  width: .3rem;
  height: .3rem;
}
.close{
  display: inline-block;
  background: url("../../img/close.png") no-repeat;
  background-size: .3rem .3rem;
  width: .3rem;
  height: .3rem;
}
//以上是头部样式
nav{
  @include nav;
}
.small-triangle{
  position: absolute;top: 0;left: .2rem;
  width: 0;
  height: 0;
  background-color: transparent;
  border: .05rem solid transparent;
  border-top: .1rem solid #b9e9f5;
}
.nav-bottom{
  padding-left: .2rem;
  position: relative;
  height: .4rem;
  background-color: #29bde0;
  font-size: .115rem;
  letter-spacing: 2px;
  color: #fff;
}
//以上是导航栏样式
main{
  margin-top: 1.5rem;
  padding: 0 .17rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.player{
  position: relative;
  display: none;
  margin: .2rem .1rem;
  width: 20vw;
  height: 20vw;
  border: 3px #fff solid;
}
.identity{
  box-sizing: border-box;
  padding-top: 20%;
  width: 100%;
  height: 85%;
  background-color: #f5c97b;
  color: #565656;
  font-size: 5vw;
  text-align: center;
}
.number{
  width: 100%;
  height: 15%;
  font-size: 2.5vw;
  color: #fff;
  background-color: #83b09a;
  text-align: center;
}
.knife{
  position: absolute;bottom: -.3rem;
  margin-left: 8vw;
  background: url("../../img/murder.png") no-repeat center center;
  background-size: .2rem .2rem;
  width: .2rem;
  height: .2rem;
  visibility: hidden;
}
.blank{
  height: .8rem;
}
//以上是中间内容
footer{
  position: fixed;bottom: 0;left: 0;right: 0;
  @include footer;
  padding-top: .2rem;
}

.vote-butn{
  width: 80%;
  height: 70%;
  background-color: #fbb435;
  border: none;
  color: #fff;
  font-size: .2rem;
}